@import "styles/variables";

h2 {
	font-size: 5.3vw;
	line-height: 6.3vw;
	font-weight: 300;
	text-transform: uppercase;

	&.gradient-1 .line {
		background: -webkit-linear-gradient($redsquirrel-cream-m1, $redsquirrel-peach);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&.gradient-2 .line {
		background: -webkit-linear-gradient(#FB9F6F, #FFC6A9);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

h4 {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	color: $redsquirrel-cream;
}

.style-script {
	font-family: "Style Script", cursive;
	font-weight: 400;
	font-style: normal;
}

.line {
	display: block;
}

.glass {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 60px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.v-input .v-input__prepend {
	margin-inline-end: 0;
}
