@import "styles/variables";
@import "vuetify/settings";

@media #{map-get($display-breakpoints, 'md-and-up')} {
	body {
		font-size: 1vw;
		line-height: 1.5vw;
	}

	h2 {
		font-size: 5.3vw;
		line-height: 6.3vw;
	}
}

@media #{map-get($display-breakpoints, 'sm-and-down')} {
	body {
		font-size: 3.75vw;
		line-height: 5.625vw;
	}

	h2 {
		font-size: 12.5vw;
		line-height: 14vw;
	}
}

h2 {
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;

	&.gradient-1 .line {
		background: -webkit-linear-gradient($redsquirrel-cream-m1, $redsquirrel-peach);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&.gradient-2 .line {
		background: -webkit-linear-gradient(#FB9F6F, #FFC6A9);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

h4 {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	color: $redsquirrel-cream;
}

.style-script {
	font-family: "Style Script", cursive;
	font-weight: 400;
	font-style: normal;
}

.line {
	display: block;
}

a.text-link {
	display: block;
	text-decoration: none;
	color: $redsquirrel-chocolate-m1;

	&.highlight {
		color: $redsquirrel-chocolate;
	}

	&:hover {
		opacity: 0.7;
	}
}

.v-input .v-input__prepend {
	margin-inline-end: 0;
}

.v-snackbar__wrapper {
	background: rgba(255, 255, 255, 0);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	border: 1px solid rgba(255, 255, 255, 0.7);
}

.v-snackbar__content {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
	color: $redsquirrel-chocolate-m1;
}
