@use 'variables' as *;
@use 'vuetify/settings' with (
  $button-font-size: 12px,
  $body-font-family: "Poppins",
  $button-color: $redsquirrel-black,
  $button-background: $redsquirrel-peach-p1,
  $slide-group-prev-basis: 0,
  $divider-border-color: $redsquirrel-cream-p1,
);
