@use 'variables' as *;
@use 'vuetify/settings' with (
  $body-font-family: "Poppins",

  $slide-group-prev-basis: 0,
  $divider-border-color: $redsquirrel-cream-p1,
  $slider-horizontal-start: 0,
  $slider-horizontal-end: 0,
  $slider-vertical-margin-bottom: 0,
  $slider-track-active-size-offset: 1px
);
