$redsquirrel-peach: #FB9F6F;
$redsquirrel-peach-p1: #FC8243;

$redsquirrel-cream-m1: #FFFBF7;
$redsquirrel-cream: #FEE4C9;
$redsquirrel-cream-p1: #FFD2BB;
$redsquirrel-cream-p2: #886C5E;

$redsquirrel-chocolate-m1: #C38D72;
$redsquirrel-chocolate: #85553D;

$redsquirrel-black: #10151B;

$section-padding-side-desktop: 8.33vw;
$section-padding-top-desktop: 6.94vw;
$section-padding-desktop: $section-padding-top-desktop $section-padding-side-desktop 0;

$section-padding-side-mobile: 3.125vw;
$section-padding-top-mobile: 25vw;
$section-padding-mobile: $section-padding-top-mobile $section-padding-side-mobile 0;
