$redsquirrel-peach: #FB9F6F;
$redsquirrel-peach-p1: #FC8243;

$redsquirrel-cream-m1: #FFFBF7;
$redsquirrel-cream: #FEE4C9;
$redsquirrel-cream-p1: #FFD2BB;
$redsquirrel-cream-p2: #886C5E;

$redsquirrel-chocolate-m1: #C38D72;
$redsquirrel-chocolate: #85553D;

$redsquirrel-black: #10151B;



